---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import { getCollection } from "astro:content";
import { isPublished } from "../../lib/posts";

const posts = (await getCollection("blog"))
  .filter(isPublished)
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<BaseLayout title="Blog">
  <Header />

  <main>
    <h1>Blog</h1>

    <ul>
      {posts.map((post) => (
        <li>
          <a href={`/blog/${post.id}/`}>
            <strong>{post.data.title}</strong>
          </a>
          {post.data.description && (
            <p>{post.data.description}</p>
          )}
          <small>{post.data.pubDate.toDateString()}</small>
        </li>
      ))}
    </ul>
  </main>
</BaseLayout>